<STYLE TYPE="text/css"> <!--

P, TD, UL {
  font-family: times, serif;
  font-size: 16px;
}

.side {
  font-family: arial, helvetica, sans serif;
  font-size: 12px;
  color: #FFFFFF;
  margin-left: 10px; margin-right: 30px;
}

.table {
  margin-left: 10px;
  margin-right: 20px;
}

.links {
  font-family: arial, helvetica, sans serif;
  font-size: 12px; font-weight: bold;
  text-align: right;
  margin-right: 35px;
}

H2 {
  font-family: arial, helvetica, sans serif;
  color: #993399;
}
H3 {
  font-family: arial, helvetica, sans serif;
  color: #993399;
}

FONT.title {
  font-family: arial, helvetica, sans serif;
  font-size: 16px; font-weight: bold;
  color: #993399;
}

FONT.note {
  font-family: arial, helvetica, sans serif;
  font-size: 12px;
  color: #FF3333;
}

A:link, A:visited {color: #993399; text-decoration: underline}

A.s:link, A.s:visited {color: #FFCC00; text-decoration: none}
A.s:hover {color: #FFFFFF; text-decoration: underline}
-->